---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Portofolio | Home">
  <div class="main-container">
    <Navbar />
    <Hero />
    <About />
    <Skills />
    <hr />
  </div>
</Layout>
<style>
  @media (min-width: 700px) {
    .main-container {
      max-width: 1000px;
      margin: auto;
    }
  }
  hr {
    height: 70px;
    border: none;
  }
</style>
