<ul>
  <li>
    <a href="https://github.com/raiyanu" target="_blank"><img src="assets/icons/github.svg" alt="github" /></a>
  </li>
  <li>
    <a href="https://raiyanu.github.io/lp/" target="_blank"><img src="assets/icons/globe.svg" alt="github" /></a>
  </li>
  <li>
    <a href="https://instagram.com/raiyan_ahmed_c?igshid=MTNiYzNiMzkwZA==" target="_blank"><img src="assets/icons/instagram.svg" alt="github" /></a>
  </li>
</ul>

<style>
  ul {
  }
  li {
    margin-top: 15px;
    list-style-type: none;
  }
  li a {
    height: 20px;
  }
  img {
    height: 20px;
    object-fit: cover;
  }
  @media (max-width: 700px) {
    ul {
      position: absolute;
      top: 150px;
      left: 20px;
    }
  }
</style>
