<ul>
  <li>
    <img src="assets/icons/award.svg" alt="badge.svg">
    <span>Experience</span>
    <p>9 x experience</p>
  </li>
  <li>
    <img src="assets/icons/briefcase.svg" alt="badge.svg">
    <span>Experience</span>
    <p>9 x experience</p>
  </li>
  <li>
    <img src="assets/icons/support.svg" alt="badge.svg">
    <span>Experience</span>
    <p>9 x experience</p>
  </li>
</ul>

