<ul>
  <li>
    <img src="assets/icons/award.svg" alt="badge.svg">
    <span>Experience</span>
    <p>9 x Years</p>
  </li>
  <li>
    <img src="assets/icons/briefcase.svg" alt="badge.svg">
    <span>Experience</span>
    <p>9 x Years</p> 
  </li>
  <li>
    <img src="assets/icons/support.svg" alt="badge.svg">
    <span>Experience</span>
    <p>9 x Years</p>
  </li>
</ul>
<style>
  p{
    font-size: 10px;
  }
  span{
    font-size: 14px;
    font-weight: 500;
  }
  ul{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    gap:10px;
  }
  img{
    height: 20px;
  }
  li{
    display:flex;
    flex-direction: column;
    border:1px solid rgba(0, 0, 0, 0.356);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:8px 16px;
    border-radius:10px;
  }
</style>
